@import "reset.css";

body {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.main-box {
    width: 300px;
    background-color: beige;
}

.header-lib {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: rgba(255, 206, 51, 1);
    position: relative;
}

.header-lib span {
    font-weight: 600;
}

.main-search {
    display: flex;
    position: absolute;
    bottom: -15px;
    height : 30px;
    box-sizing:border-box;
    align-items: center;
}
.main-search input {
    border: solid 1px white;
    border-radius: 20px;
    width: 260px;
    padding:10px;
    outline: none;
}
.main-search input::placeholder {
    opacity: 0.3;
}
.fa-magnifying-glass {
    position: absolute;
    right: 15px
}

.section {
    margin : 0px 5px;
}

.reco {
    margin-top: 30px;
}

.reco-title {
    display: flex;
    font-weight: 700;
    padding: 10px 0px;
}

.reco-info {
    margin: 10px 0px;
    display: flex; 

}
.reco-info img {
    width: 30%;
    height: 140px;
}
.reco-info__text {
    margin-left: 5px;
}
.reco-info__text h3 {
    font-size: 18px;
    font-weight: 600;
}
.reco-info__text h6 {
    margin: 10px 0px;
    opacity: 0.4;
    font-size: 10px;
}
.fa-star--ye {
    color:rgba(255, 206, 51, 1);
}
.fa-star--op {
    opacity: 0.3;
}
.book-type {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.book-type span {
    border: solid 1px rgb(242, 229, 211) ;
    background-color: rgb(242, 229, 211);
    border-radius: 5px;
    font-size: 10px;
    font-weight: 500;
    width: 65px;
    text-align: center;
    padding: 5px;
    margin-right:5px;
}
.reco-shop {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    position: relative;
}
.reco-shop__like {
    display: flex;
    align-items: center;
}
.reco-shop__like input {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 206, 51, 1) ;
    border: solid 1px rgba(255, 206, 51, 1);
    border-radius: 50%;
    position: absolute;
    left: 5px;
}
.fa-bookmark {
    position: absolute;
    left: 10.5px;
    z-index: 1;
}
.reco-shop__book input {
    background-color: black;
    color: white;
    border: solid 1px black;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
    width: 80px;;

}
