@import "reset.css";

body {
    background-color: #fffce3;
    display: flex;
    justify-content: center;
}

.group {
    margin: 50px;
    border-radius: 20px;
    width: 300px;
    background-color: white;
}
.top-fix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px;
}
.music-info {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.music-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.music-info__title {
    margin: 20px 0px;
    font-size: 15px;
    font-weight: 600;
}