#friends-display-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    padding: 10px 0px;
    font-size: 14px;
}

#friends-display-link svg {
    height: 14px;
    width: 14px;
    color: rgba(0,0,0,0.3);
}

