@import "reset.css";
:root{
    --basecolor:#f7eee6;
}

body {
    font-family:  "Merriweather", serif;
}
.container {
    width: 1000px;
    height: 750px;
    display: flex;
    justify-content: center;
    background-color: #fcfbf2;
}

.group {
    background-color: var(--basecolor);
    margin: 50px;
    border-radius: 20px;
    width: 300px;
}
.top-fix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px;
}
.music-info {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.music-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.music-info__title {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 900;
}
.music-info__type {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0.5;
}
.music-info__btn {
    display: flex;
    justify-content: center;
}
.btn {
    background-color: black;
    width: 90px;
    border-radius: 20px;
    margin: 0px 8px;
    padding: 10px 0px;
    color: white;
    text-align: center;
    font-size: 12px;
    margin-bottom: 30px;
}
.btn--white {
    background-color: white;
    color: black;
    font-weight: 700;
}
.btn span {
    opacity: 0.5;
    }
.btn i {
    margin-right: 5px;
}
.music-playlist {
    margin: 5px 10px;
}
.music-playlist__song {
    margin-bottom: 10px;
    background-color: var(--basecolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 10px 20px;
}
.music-playlist__info {
    display: flex;
    position: relative;
}
.music-playlist__info img {
    width: 40px;
    height: 40px;
    border-radius: 15px;
}
.music-playlist__text {
    margin-left: 15px;
    margin-top: 5px;
}
.music-playlist__info__musician {
    font-size: 10px;
    opacity: 0.5;
    margin-bottom: 7px;
}
.music-playlist__info__title {
    font-size: 13px;
}
.top-fix__icon--op {
    opacity: 0.5;
}
.music-playlist__icon {
    position: absolute;
    color: white;
    left: 14px;
    top: 10px;
    rotate: 270deg;
}
.music-playlist__song--play {
    background-color: white;
}
.control-bar {
    background-color: black;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    padding: 10px 20px;
    color: white;
}
.control-bar__icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.music-info__photo--big img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 40px;  
}
.play-time__time {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin: 5px 20px;
    margin-top: 30px;
    opacity: 0.4;
}
.play-processbar {
    display: flex;
    position: relative;
    height: 2px;
    align-items: center;
}
.play-processbar__whole {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width: 260px;
    height: 3px;
    border-radius: 50px;
    left: 20px;
}
.play-processbar__now {
    position: absolute;
    background-color: black;
    width: 67px;
    height: 3px;
    border-radius: 50px;
    left: 20px;
}
.play-processbar__circle {
    position: absolute;
    background-color: black;
     width: 6px;
    height: 6px;
    border-radius: 3px;
    left: 87px;
}
.play-control-bar {
    margin: 50px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.icon-op {
    opacity: 0.4;

}
.icon-normal{
    display: flex;
    align-items: center;
}
.icon-big {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}