.nav__list {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f9f9fa;
    padding: 15px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(173, 173, 173, 0.3);
}


.nav img {
            width: 16px;
            height: 24px;
        }